.navItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rocket {
  transition: opacity 0.3s ease;
  animation: floatAnimation 2s ease-in-out infinite;
  position: absolute;
}

.visible {
  opacity: 1;
}

.exhaustLine1 {
  opacity: 0;
  animation: exhaustVisibility1 2s ease-in-out infinite;
}

.exhaustLine2 {
  opacity: 0;
  animation: exhaustVisibility2 2s ease-in-out infinite;
}


@keyframes floatAnimation {

  0%,
  100% {
    transform: translateX(-50%) translateY(0);
  }

  50% {
    transform: translateX(-50%) translateY(-10px);
  }
}

@keyframes exhaustVisibility1 {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes exhaustVisibility2 {

  0%,
  100% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }
}