/**
* Avatar + Animation 
*/
.avatar {
  width: 600px;
  height: auto;
  transition: transform 0.5s ease;
  transform-style: preserve-3d;
  perspective: 1000px;
  /* Add perspective to the container */
  transform: rotateY(var(--rotate-y, 0));
  transform-origin: center;
  height: 600px;
  touch-action: pan-y pinch-zoom;
}

.front,
.back {
  width: 100%;
  max-width: 600px;
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.5);
  height: 100%;
  border-radius: 50%;
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(0deg);
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center;
  /* Set the pivot point to the center */
}

.back {
  transform: rotateY(180deg);
  background-color: #f0f0f0;
  /* Adjust background color for the back of the card */
}

/* On hover, rotate the avatar to reveal the back image */
.avatar:hover {
  transform: rotateY(180deg);
}

.portraitWrapper:hover {
  --rotate-y: 180deg;
}

.portraitWrapper {
  display: flex;
  justify-content: center;
}

/**
* Main styles
*/

.button {
  box-shadow: rgb(255, 255, 255) 0px 0px 10px;
  font-weight: 700;
  width: 80%;
  align-self: center;
}

.greeting {
  margin-bottom: 40px;
  font-size: 4rem;
  font-weight: 900;
  color: var(--mantine-color-white);
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 4rem;
  text-shadow: 6px 4px 10px rgba(0, 0, 0, 0.5);
  animation: spinAndGrow 0.85s ease-in;
}

.leftColumn {
  display: grid;
  /* Allow children to justify themselves */
  margin: auto;

  >* {
    justify-self: center;
  }
}

.rightColumnContent {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

@keyframes spinAndGrow {
  0% {
    transform: scale(0) rotate(0deg);
  }

  100% {
    transform: scale(1) rotate(1080deg);
  }
}


@media (max-width: 1200px) {
  .avatar {
    width: 400px;
    height: 400px;
  }

  .front,
  .back {
    max-width: 400px;
  }

  .greeting {
    animation: none;
  }
}

@media (max-width: 767px) {
  .greeting {
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 1px;
    line-height: 2.5rem;
    text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.5);
  }

  .avatar {
    max-width: 250px;
    height: 250px;
    transform: rotateY(var(--rotate-y, 0));
  }

  /* Remove the hover transform since we're using touch */
  .avatar:hover {
    transform: none;
  }

  .rightColumnContent {
    margin-top: 30px;
  }
}