.container {
  margin-top: 15%;
  width: 75%;
}

.contentWrapper {
  background-color: rgba(47, 41, 99, 0.77);
  padding: 5px 70px 50px 0px;
  color: var(--mantine-color-white);
}

.contentWrapper a {
  color: var(--mantine-color-white);
}

.date {
  font-weight: 700;
}

.description {
  font-weight: 500;
}

.description a {
  color: var(--mantine-color-white);
  text-decoration: underline;
}

.tab {
  height: 90px;
  width: 200px;
}
