.rocketWrapper {
  width: 16%;
  display: grid;
  margin-left: auto;
  margin-right: auto;
}

.rocketWrapper img {
  animation: floatAnimation 3s ease-in-out infinite; /* Adjust the duration and timing as needed */
}

@keyframes floatAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px); /* Adjust the floating height */
  }
}
