.heading {
  color: var(--mantine-color-white);
  font-size: 3.75rem;
  font-weight: 900;
  letter-spacing: 4px;
  line-height: 4rem;
  margin-bottom: 40px;
  text-shadow: 6px 4px 10px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}

.pageContainer {
  margin-top: 8vh;
  width: 85%;
  max-width: 1200px;
  padding-bottom: 100px;
  flex: 1;
}


@media (max-width: 768px) {
  .heading {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .pageContainer {
    width: 95%;
    margin-top: 10vh;
  }
}

@media (max-width: 464px) {
  .pageContainer {
    width: 100%;
    margin-top: 0px;
    padding: 0px;
  }
}